{% extends "template/layout.twig" %}

{% block page %}
    <div class="content">
        <div class="wrapper">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="content-sub-title__wrapper">
                            <div class="content__sub-title">Unkown - unkown</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="content-sub-title__wrapper">
                            <div class="content__sub-title">Template</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-clocks">
                <visualiser></visualiser>
{#                766 250 3440#}
{#                8uswZb#}
            </div>
        </div>
    </div>
{% endblock %}