.main-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 1200px;
  border-radius: 10px;
  padding: 40px;
  margin-top: 150px;
}

.content__title {
  font-size: 128px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__sub-title {
  font-size: 48px;
  font-family: chiller, sans-serif;
}

.content-sub-title__wrapper {
  background: rgba(255,255,255, 0.8);
  color: #000;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
}

.clocks-wrap {
  display: flex;
  width: 325px;
}

.content-clocks {
  width: 100%;
  font-size: 86px;
  flex: 0 0 auto;
  margin-top: 20px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.content-title__wrapper {
  text-shadow: 0 0 20px rgba(10,175,230,1), 0 0 20px rgba(10,175,230,0);
  height: 150px;
}